body    {background-color: pink;} 

#crystals {margin-top: 15px;}

#goal   {background-color: green;
            float: left;
            font-size: 300%;
            font-weight: bold;
            height: 100%;
            line-height: 100px;
            text-align: center;
            width: 60%;}

#header {background-color: brown;
            color: white;
            height: 100px;
            line-height: 100px;
            margin: auto;
            margin-bottom: 15px;
            text-align: center;
            width: 30%;}

img     {height: 100px;
            width: 100px;}
    
#main   {background-color: beige;
            color: green;
            height: 100px;
            margin: auto;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            width: 50%;}

#record {background-color: lightblue;
                float: right;
                height: 100%;
                width: 30%;}

#row    {height: 100px;
            margin: auto;
            margin-top: 20px;
            width: 40%;}
    
#total {background-color: teal;
            color: white;
            height: 125px;
            margin: auto;
            text-align: center;
            width: 30%;}