#answer {
    font-size: 180%;
    margin-top: 50px;
    }

body {
    background-color: rgb(237, 26, 7);
    text-align: center;
}

#guesses {margin-top: 30px;}

h5 {
    margin-top: 30px;
}

img {
    height: 140px;
    width: 220px;
}