#answer {
    font-size: 180%;
    margin-top: 50px;
    }

body {
    background-color: rgb(237, 26, 7);
    text-align: center;
}

#guesses {margin-top: 30px;}

h5 {
    margin-top: 30px;
}

h4 {
    margin-top: 20px;
}

h2 {
    font-size: 130;
    font-weight: bold;
    margin-top: 50px;
}

img {
    height: 140px;
    margin-top: 25px;
    width: 220px;
}